*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #1a22af;
  --primary-color-medium: #3d43b5;
  --primary-color-light: #5e63c4;
  --primary-color-dark: #0b106b;

  --color-black: #313639;
  --color-white: #f8f8ff;
  --color-white-rgba: rgba(248, 248, 255, 0.9);
}

.bg-video {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.error-text {
  font-size: 24px;
  margin-top: 50px;
}

.error-text a {
  text-decoration: none;
}

.error-title {
  margin-bottom: 50px;
  margin-top: 50px;
}

.footer {
  bottom: 8px;
  color: var(--color-white-rgba);
  font-family: "Dancing Script", cursive;
  left: 30px;
  position: absolute;
  z-index: 3;
}

footer a {
  color: var(--color-white-rgba);
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}

.gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--primary-color),
    var(--primary-color-dark)
  );
  height: 100vh;
  object-fit: cover;
  opacity: 0.85;
  position: relative;
  width: 100vw;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 75% 1fr;
  justify-content: center;
}

.page-title {
  top: 100px;
  color: var(--color-white-rgba);
  font-family: "Dancing Script", cursive;
  font-size: 64px;
  left: 50px;
  position: absolute;
  text-transform: uppercase;
  z-index: 3;
}

.wrapper {
  position: absolute;
  width: 100%;
}
