*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines 1 rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: $color-black;
  font-family: "open sans", sans-serif;
  font-size: $default-font-size;
}

h1,
h2,
h3,
h4 {
  font-family: Cinzel, serif;
}

.section-form {
  background-color: $secondary-color-dark;
  // adding this removes the space in between sections
  // I have no idea why
  display: grid;
}
