.form-wrapper-outer {
  background-color: $color-white;
  height: 105rem;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.form-wrapper-inner {
  background-color: $color-white;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  height: 90%;
  left: 5%;
  padding: 2.5rem;
  position: absolute;
  margin: 0 auto;
  top: 5%;
  width: 90%;
}

.form-label {
  background-image: linear-gradient(
    to right,
    $primary-color-light,
    $primary-color-dark
  );
  color: transparent;
  font-size: 2.2rem;
  font-weight: 600;

  background-clip: text;
  -webkit-background-clip: text;
}

input[type="text"] {
  border-radius: 5px;
  font-size: 2rem;
}

#custom-textarea {
  border-radius: 5px;
  font-size: 2rem;
  resize: none;
}

.btn-submit {
  background: none;
  background-image: linear-gradient(
    to right bottom,
    $primary-color-light,
    $primary-color-dark
  );
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  color: $color-white;
  font-size: 2.2rem;
  height: 3.7rem;
  margin-top: 2rem;
  width: 22rem;
}
