$primary-color: #1a22af;
$primary-color-medium: #3d43b5;
$primary-color-light: #5e63c4;
$primary-color-dark: #0b106b;

$secondary-color-dark: #0f0a14;

$background-color-light: #f8f8f8;
$background-color-medium: #d8d8d8;

$color-black: #313639;
$color-white: #f8f8ff;

$default-font-size: 1.6rem;
